
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-nav .nav-link.active {
    color: green !important;
}
.carousel-item img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.carousel-caption h1 {
    font-weight: bold;
}
.carousel-caption .btn {
    background-color: green;
    color: white;
    border: none;
}
.carousel-caption .btn:hover {
    background-color: darkgreen;
}
.continue {
    background-color: #e1d7d9;
    color: black;
    padding: 10px 18px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue:hover {
    background-color: #a1969c;
}



/*reload*/
.bottom-nav1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-top: -50px;
    position: relative;
    z-index: 20;
    padding: 15px;
}

.nav-item1 {
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-item1:hover {
    color: #1dc593;
}

.nav-icon {
    font-size: 24px;
    margin-bottom: 8px;
    color: #48d6b5;
}

.paybill-section {
    padding: 15px;
    border-right: 1px solid #eee;
}

.search-input {
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
}

.search-btn {
    background-color: #eee;
    border: none;
    border-radius: 30px;
    padding: 8px 25px;
    color: #666;
    font-weight: 500;
}